[Desktop Entry]
Version=1.0
Type=Application
Name=Game Link
Comment=A universal game companion for linking ROMs, managing media, and integrating with multiple launchers.
Exec=game-link
Icon=game_link
Terminal=false
Categories=Game;Utility;
Keywords=Lutris;Games;ROMs;Management;
